# Django settings for photoparticipatio project.
# https://docs.djangoproject.com/en/1.4/ref/settings/

import os
import sys

PROJECT_PATH = os.path.dirname(__file__)
BASE_PATH = os.path.dirname(PROJECT_PATH)

sys.path.insert(0, os.path.join(PROJECT_PATH, 'apps'))
sys.path.insert(0, os.path.join(PROJECT_PATH, 'libs'))

from config import *
from installed_apps import *
from logging import *

try:
    from local_settings import *
except ImportError:
    pass