from django.conf.urls import *

urlpatterns = patterns('path.to.views',

#    url(r'^$', 'view_name', name='app_view_action'),
#    url(r'entity/(?P<entity_id>[\d]+)/action/$', 'view_name', name='app_view_action'),



)