# https://docs.djangoproject.com/en/1.4/topics/forms/modelforms/

#from django import forms
##from django.forms.models import inlineformset_factory
#
#class ModelNameForm(forms.ModelForm):
#
#    class Meta:
#        model = ModelName