from django.shortcuts import get_object_or_404, get_list_or_404, render, redirect
#from django.db.models import F, Q
#from django.http import Http404, HttpResponse
#from django.contrib.auth.decorators import login_required, user_passes_test
#
#@login_required()
#def view_name(request):
#
#    return render(request, 'path/to/template.html', locals())